#cards-view {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 0;
  -moz-user-select: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 1);
}

@media not all and (-moz-physical-home-button) {
  #screen:not(.software-button-disabled) #cards-view {
    height: calc(100% - 5rem);
    bottom: 5rem;
  }
}

#screen.software-button-enabled #cards-view {
  height: calc(100% - 5rem);
  bottom: 5rem;
}

#cards-view.active {
  visibility: inherit;
  opacity: 1;
}

#cards-view.no-transition {
  transition: none;
}

#cards-view .no-recent-apps {
  display: none;
  position: absolute;
  top: calc(50% - 1rem);
  left: 3rem;
  width: calc(100% - 6rem);
  height: 2rem;
  text-align: center;
  color: #52b6cc;
  font-size: 2rem;
  font-weight: 500;
}

#cards-view.empty .no-recent-apps {
  display: block;
}

#cards-view.empty {
  background-color: rgba(0, 0, 0, .8);
}

#cards-view ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  text-align: center;
}

#cards-view .card {
  vertical-align: top;
  display: none;
  width: 100%;
  height: calc(100% - 2rem);
  margin: 0;
  margin-top: 2rem;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
}

#cards-view .screenshotView {
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

#cards-view .screenshotView.rotate-90 {
  transform: rotate(90deg);
}

#cards-view .screenshotView.rotate-270 {
  transform: rotate(270deg);
}

#cards-view .screenshotView.rotate-180 {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

#cards-view .card h1 {
  position: absolute;
  z-index: 99999;
  text-align: left;
  font-size: 2.2rem;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

#cards-view .card header {
  top: 1.5rem;
}

#cards-view .card > *:not(.close-card) {
  pointer-events: none;
}

#cards-view .card > h1 {
  position: absolute;
  top: calc(100% - 1.5rem);
  width: 100%;
}

#cards-view .card > p {
  position: absolute;
  top: calc(100% + 1rem);
  width: 100%;
  font-size: 2rem;
}

#cards-view .card > img.appIcon {
  position: relative;
  height: 8rem;
  width: 8rem;
  border-radius: .6rem;
  top: 50%;
  margin-top: -4rem;
}

#cards-view .close-card {
  position: absolute;
  top: -1rem;
  left: -1rem;
  z-index: 99999;
  height: 2.6rem;
  width: 2.6rem;
  background: url(close.png) no-repeat center / 2.6rem;
  transform: scale(1.3);
}

#screen.task-manager #cards-view {
  background: transparent;
  margin-top: 5rem;
}

#screen.task-manager #cards-view li.card {
  transform-origin: 50% 30%;
}

#screen.task-manager #cards-view .card > h1,
#screen.task-manager #cards-view .card > p {
  display: none;
}
