.fixed-title {
  position: absolute;
  top: 5rem;
  left: 0;
  right: 3rem;
  height: 3.1rem;
  line-height: 4rem;
  padding: 0 0 0 3rem;
  z-index: 6;
  background-repeat: no-repeat;
  transform: translateY(-100%);
  text-align: left;
  color: #FF5F19;
  background: #fff;
  font-size: 1.6rem;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fixed-title:after {
  position: absolute;
  content: "";
  left: 1.5rem;
  right: 0;
  top: 0;
  bottom: 0;
  border-bottom: 1px solid #FF5F19;
  z-index: 1;
}

.import .fixed-title {
  top: 0;
}

.facebook .fixed-title {
  color: #4D77CF;
}

.facebook .fixed-title:after {
  border-color: #4D77CF;
}
