.hide, *[data-template] {
  display: none !important;
}

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* BB Confirm */
form[role="dialog"].no-overlay {
  background: none;
  pointer-events: none;
  position: fixed;
}

form[role="dialog"].no-overlay button {
  pointer-events: auto;
}

/* Force having always checkboxes */
#groups-list.import-list label,
#search-list label {
  left: 0;
  pointer-events: auto;
}

[data-type="list"].import-list {
  padding: 0 4rem 0 1.5rem;
}

[data-type="list"].import-list.active li:after {
  right: 0;
}

#groups-list.import-list li,
.import #search-list[data-type="list"] li {
  padding-left: 3.5rem;
}

#groups-list.active li:not(:active):after,
#search-list.active li:not(:active):after {
  display: none !important;
}

/* End BB */

.view {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.friends-msg {
  width: 100%;
  z-index: 1;
  border-bottom: 0.1rem solid #E6E6E6;
  padding: 0.4rem 0;
}

p#friends-msg {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.8rem;
  margin: 0 3rem;
}

#main {
  position: fixed;
  top: 5rem;
  height: calc(100% - 5rem);
  width: 100%;
}

#mainContent {
  width: calc(100% + 1rem); /* Hide scrollbar */
  overflow-x: hidden;
  overflow-y: auto;
  -moz-box-sizing: border-box;
  color: #333;
  text-align: left;
  height: calc(100% - 6.9rem);
  padding-top: 3.7rem; /* Equal to search form height */
  position: relative;
}

#main.no-proposal #mainContent {
  height: 100%;
}

#main.no-proposal > form[role="dialog"] {
  display: none;
}

#groups-list > li {
  display: block;
}

#groups-list li[data-uuid] * {
  pointer-events: none;
}

abbr, acronym {
  cursor: default;
  border: none;
}

/* JUMPER */

nav[data-type="scrollbar"] {
  z-index:100;
  bottom: 4.2rem;
}

nav[data-type="scrollbar"] li {
  line-height: 1.3rem;
}

nav[data-type="scrollbar"] ol > li > * {
  pointer-events: none;
}

#mainContent li[data-uuid] *:not(input) {
  pointer-events: none;
}

ol.unbordered > li {
  border: none !important;
  position: inherit;
}

li[data-uuid]{
  border-top: none !important;
}

li[data-uuid]:last-child {
  border-bottom: none !important;
}
