<element name="developer" extends="section">
  <template>

    <header>
      <a href="#root"><span class="icon icon-back">Back</span></a>
      <h1 data-l10n-id="developer-header"> Developer </h1>
    </header>

    <div>
      <header>
        <h2 data-l10n-id="debug">Debug</h2>
      </header>
      <ul>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.grid.enabled">
            <span data-l10n-id="grid">Grid</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.fps.enabled">
            <span data-l10n-id="fps-monitor">Show frames per second</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.paint-flashing.enabled">
            <span data-l10n-id="paint-flashing">Flash repainted area</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="layers.draw-borders">
            <span data-l10n-id="layers-draw-borders">Draw layers borders</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="layers.composer2d.enabled">
            <span data-l10n-id="layers-composer2d-enabled">Enable hardware composer</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="apz.force-enable"/>
            <span data-l10n-id="apz-force-enable">Enable APZ for all content processes</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.log-animations.enabled">
            <span data-l10n-id="log-animations">Log slow animations</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.ttl.enabled">
            <span data-l10n-id="ttl-monitor">Show time to load</span>
          </label>
        </li>
        <li>
          <p data-l10n-id="remote-debugging">Remote Debugging</p>
          <span class="button icon icon-dialog">
            <select name="debugger.remote-mode" data-value-type="string">
              <option value="disabled" data-l10n-id="debugger-disabled" selected>Disabled</option>
              <option value="adb-only" data-l10n-id="debugger-adb-only">ADB Only</option>
              <option value="adb-devtools" data-l10n-id="debugger-adb-and-devtools">ADB and Devtools</option>
            </select>
          </span>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="wifi.debugging.enabled">
            <span data-l10n-id="wifi-debugging">Wi-Fi output in adb</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="bluetooth.debugging.enabled">
            <span data-l10n-id="bluetooth-debugging">Bluetooth output in adb</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="dom.mozContacts.debugging.enabled">
            <span data-l10n-id="contacts-debugging">Contacts debugging output in adb</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.console.enabled">
            <span data-l10n-id="console-enabled">Console enabled</span>
          </label>
        </li>
        <li id="software-home-button">
          <label class="pack-checkbox">
            <input type="checkbox" name="software-button.enabled">
            <span data-l10n-id="software-button-enabled">Software home button enabled</span>
          </label>
        </li>
        <li id="homegesture">
          <label class="pack-checkbox">
            <input type="checkbox" name="homegesture.enabled"/>
            <span data-l10n-id="homegesture-enabled">Home gesture enabled</span>
          </label>
        </li>
        <li id="edgesgesture">
          <label class="pack-checkbox">
            <input type="checkbox" name="edgesgesture.enabled"/>
            <span data-l10n-id="edgesgesture-enabled">Edges gesture enabled</span>
          </label>
        </li>
        <li id="continuoustransition">
          <label class="pack-checkbox">
            <input type="checkbox" name="continuous-transition.enabled"/>
            <span data-l10n-id="continuoustransition-enabled">Continuous transition enabled</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.gaia.enabled">
            <span data-l10n-id="debug-gaia-enabled">Gaia debug traces</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="rocketbar.enabled"/>
            <span data-l10n-id="rocketbar-enabled">Rocketbar enabled</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="app-transition.enabled"/>
            <span data-l10n-id="enable-app-transition">Enable app transition</span>
          </label>
        </li>
        <li>
          <label>
            <button id="ftuLauncher" data-l10n-id="launch-ftu">Launch FTU</button>
          </label>
        </li>
      </ul>

      <header>
        <h2 data-l10n-id="accessibility">Accessibility</h2>
      </header>
      <ul>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="accessibility.screenreader">
            <span data-l10n-id="screenReader">Screen Reader</span>
          </label>
        </li>
      </ul>
    </div>

    <script src="js/developer.js"></script>

  </template>
</element>
